body {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

canvas {
    background-color: blueviolet;
    /*display: block;*/
}

button {
    margin: 0.5em;
    padding: 10px;
}